
body {
    background: linear-gradient(rgba(174, 249, 254, 0.64), rgba(91, 91, 91, 0.36)), url("UZ3ZE3T.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0 auto;
}

.isDone {
    text-decoration: line-through;
    color: #555;
}

.task {
    font-weight: bold;
}

.emptyList {
    color: #2c5f59;
    font-size: 18px;
    margin: 10px;
    padding-bottom: 15px;
}
